.search-bar {
    padding: 10px;
    border: 0;
}

.pretty-container {
    box-shadow:5px 10px 8px rgba(0,0,0,0.2);
    border-radius: 25px;
}

#url-summary-output {
    margin-top: 25px;
    background-color: rgb(248, 249, 250);
}

*:focus {
    outline: 0 !important;
}

.search-button {
    margin: 10px 0;
    height: 27px;
}

#search-container {
    height: 50px;
}

.text-box {
    min-height: 500px;
}

#input-text {
    height: auto;
    width: 100%;
    margin: 0 !important;
    border: none;
    background-color: transparent;
}

#text-containers {
    background-color: white;
}

textarea {
    resize: none;
}

.submit-button {
	background: #B2BEB5;
	color: #FFFFFF;
	border: 1px solid #eee;
	border-radius: 25px;
}

.submit-button:hover {
	background: #D3D3D3;
	color: #FFFFFF;
	border: 1px solid #eee;
	border-radius: 20px;
}