{% extends "layout.html" %}

{% block title %}
    URL
{% endblock %}

{% block main %}
    <form action="/" method="post">
        <div class="container-sm p-3", style="width: 350px;">
            <div class="container mx-auto pretty-container">
                <div id="search-container" class="row mx-auto">
                    <div class="col-2">
                        <input type="image" class="search-button" src="../static/images/icons8-search.svg">
                    </div>
                    <div class="col-10">
                        <input class="search-bar" name="url" type="url" placeholder="Enter text URL..." autofocus>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div id="url-summary-output" class="container p-5 pretty-container">
        {% if summary %}
            <p>{{ summary }}</p>
        {% else %}
            <p><b>How it works:</b></p>
            <p>
                Enter in a URL containing text (i.e. https://www.bbc.co.uk/sport/football/63803248) and a summary of the text will be returned. 
            </p>
        {% endif %}
    </div>
{% endblock %}